<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Currency Converter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Facicon -->

    <!-- <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon"> -->
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/blackblood.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container box">
      <h1 class="display-3 text-center color">Currency</h1>
      <div class="col-md-6 offset-md-3">
        <!-- <form class="mt-5"> -->
          <div class="form-group">
            <input type="text" name="currency" id="currency" class="form-control" placeholder="Currency" autofocus required autocomplete="off">
          </div>
          <div class="form-group text-center">
            <!-- <input class="btn btn-lg btn-primary" id="convert" type="submit" value="Convert"> -->
            <button type="submit" class="btn btn-lg btn-danger" id="convert">Convert</button>
          </div>
        <!-- </form> -->
      </div>
      <div class="col-md-8 offset-md-2 text-center mt-4">
        <h4 id="result" class="color"></h4>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="./js/main.js"></script>
  </body>
</html>
